# Exploratory Data Analysis para datos de Precios

In [1]:
import pandas as pd
from azure.storage.blob import BlobServiceClient
import io
import os
from dotenv import load_dotenv, find_dotenv

In [ ]:
pd.options.display.max_columns = 100

In [2]:
load_dotenv(find_dotenv())

True

In [3]:
def obtain_content_of_blob(connection_string, container_name, file_name):
    """
    Esta función crea una conexión a un archivo específico almacenado en blob Storage y retorna su contenido
    """
    blob_service_client = BlobServiceClient.from_connection_string(connection_string)
    container_client = blob_service_client.get_container_client(container_name)
    blob_client = container_client.get_blob_client(file_name)
    blob_stream = blob_client.download_blob().readall()
    blob_file = io.BytesIO(blob_stream)
    return blob_file

In [5]:
connection_string = os.getenv("AZ_CONNECTION_STRING")
container_name = "raw/EnergySuiteData/precios/aire/"

In [6]:
df_consumo = pd.read_csv(
    obtain_content_of_blob(connection_string, container_name, "AireSup-Prices.csv"),
    delimiter=";",
    # type={"Id":str,"Date": str,"Period":int,"Version":int,"ProductType":str,
    #   "ConceptId":str,"ElementId":str,"Value":float,"SourceType":str,"NatureType":str},
    #   nrows=100000) #Loading only first 100000 rows
)
print(df_consumo.shape)
print(df_consumo.dtypes)
df_consumo.head()

(21264, 9)
Id              object
Date            object
Period           int64
Version          int64
MarketType      object
ProductType     object
ConceptId       object
Value          float64
UpLoadId       float64
dtype: object

,Id,Date,Period,Version,MarketType,ProductType,ConceptId,Value,UpLoadId
0,7459BD0B-E48E-487A-B7D9-01E11783FAF0,2023-09-30 00:00:00.000,20,4,TMerEner,TPEner,PBNA,1062.184761,NaN
1,25E1062D-603C-432C-BAA5-07C4013A78FE,2023-09-30 00:00:00.000,19,4,TMerEner,TPEner,PBNA,1062.185761,NaN
2,BABD0C9A-111E-4D7A-A4B7-0AB310F6D4A5,2023-09-30 00:00:00.000,8,4,TMerEner,TPEner,PBNA,1008.944761,NaN
3,5109AA0B-B546-408C-B9A5-1C0FF634D91A,2023-09-30 00:00:00.000,2,4,TMerEner,TPEner,PBNA,1008.945761,NaN
4,F7CCDBA3-1710-4BF7-8BEE-28826207E2FA,2023-09-30 00:00:00.000,11,4,TMerEner,TPEner,PBNA,1062.085761,NaN